.dashboard-wrap{
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
    position: absolute;
    background-color: #f9f9fc;
}
.side-wrap{
    min-width: 200px;
    background-color: #1b2430;
    height: 100%;
}
.side-item{
    display: flex;
    color: rgb(219, 220, 223);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-weight: 200;    
    cursor: pointer;
    font-size: 0.7rem;
}
.main-dash{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #232f3e!important;
    padding: 1rem;
    font-size: 0.8rem;
    color: white;
    border-radius: 0;
    margin: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-weight: 900;

}
.welcome-wrap{
    padding: 1rem;
    border-bottom: 1px solid #e7e7ea;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.topnav-wrap{
    display: flex;
    flex-direction: column;
    padding: 0.84rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.accounts-wrap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.account-card{
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    width: 250px;
    border-radius: 0.3rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}
.account-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.account-no{
    font-size: 0.8rem;
}
.account-header{
display: flex;
justify-content: space-between;
color: gray;
margin: 1rem;
}
.primary{
float: right;
color: white;
background-color: rgba(255, 99, 71, 0.644);
padding: 0.3rem;
font-size: 0.6rem;
border-radius: 1.5rem;
}
.account-item{
    margin: 1rem;
}
.account-balance{
    font-size: 1rem;
}
.account-type{
    color: gray;
    width: 100%;
    font-size: 0.7rem;
}